/* Stylesheet for Lasagna */
*{
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
}

.recipe {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(56, 56, 56);
    font-weight: bold;
    text-align: center;
}

.header {
    font-family: Arial, Helvetica, sans-serif, verdana, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    text-align: left;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -50px;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    background-color: rgb(206, 206, 206);
    color: black;
    position: relative;
    top: 0px;
    border-bottom: 1px solid;
}

.back-button {
    position: relative;
    top: -65px;
    text-align: right;
    background-color: transparent;
    font-size: 20px;
    color: black;
    margin-bottom: -40px;
}

p.general{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(56, 56, 56);
}


div.general{
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border: 1px dotted;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

li {
    margin: 20px;
}

.latest {
    
    height: 300px;
    width: 300px;
    margin-left: 20%;
    margin-right: 60%;
    position:relative
}

.bestof23 {
    
    height: 300px;
    width: 300px;
    margin-left: 60%;
    margin-right: 20%;
    margin-top: -300px;
    position: relative
}

.mostmeat {
    
    height: 300px;
    width: 300px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 60%;
    position: relative;
}

.bestlooking {
    
    height: 300px;
    width: 300px;
    margin-left: 60%;
    margin-right: 20%;
    margin-top: -300px;
    position: relative;
}

div.pic-text {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 50%;
    padding-left: 5px
}

img.lasagna-image {
    width: 300px;
    height: 300px;
}

div.copyright {
    font-size: 10px;
    margin: 10% 10% 0%;
    border-top: 1px solid
}

#main {
    display: flex;
}

.left {
    border-right: 1px dotted;
    width: 49%;
    padding-right: 5px;
}

.right {
    margin-left: 5px;
    position: sticky;
    bottom: 0px;
}